<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styled.css">
    <title>Falling Ball 🧶 </title>
</head>
<body>
    <h1 class="Name">Welcome to Falling Ball 🧶</h1>
    <body>
        <div class="container">
            <div id="game">
                <div id="character"></div>
            </div>
        </div>
    </body>
    <script src="./indexd.js"></script>
</body>
</html>